#container {
    width: 100vw;
    display: flex;
}

.site-container {
    height: 100vh;
}

.site {
    width: 100%;
    height: 100%;
    border: black 1px solid;
}

#controls {
    padding: 0;
    margin: 10px;
    display: block;
    list-style-type: none;
}

#address-input {
    width: 600px;
}

.control-line {
    margin: 5px;
}

/*.control-line-label {*/
    /*width: 80px;*/
/*}*/

#desktop-site-container {
    flex-basis: 980px;
    flex-shrink: 3;
}

#original-site-container,
#original-withoutScale-site-container,
#new-site-container {
    flex-basis: 320px;
    flex-shrink: 1;
}
